<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="header">
      <h1>{{ header.toUpperCase() }}</h1>
      <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
      <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
    </div>
    <div v-if="state === 'edit'" class="add-item-form">
      <input v-model="newItem" type="text" placeholder="Add an item" @keyup.enter="saveItem" maxlength="200">
      <p>{{ characterCount }}/200</p>
      <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Save Item</button>
    </div>
    <ul>
      <li contenteditable="" v-for="item in reversedItems" @click="togglePurchased(item)" :class="{strikeout: item.purchased}">{{ item.label }}</li>
    </ul>
    <p v-if="items.length === 0">Nice job! You've bought all your items.</p>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>


